[Unit]
Description=Blackbox
Requires=docker.service
After=docker.service

[Service]
Environment="NAME=blackboxprober"
Environment="IMG=prom/blackbox-exporter:latest"

ExecStartPre=-/usr/bin/docker pull $IMG
ExecStartPre=-/usr/bin/docker rm -f $NAME

ExecStart=/usr/bin/docker run -p 9115:9115 --rm --name ${NAME} --privileged -v /home/core/pingdom/blackbox.yml:/config/blackbox.yml ${IMG} -config.file=/config/blackbox.yml

[Install]
WantedBy=multi-user.target
