[Unit]
Description=Blackbox prober
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/default/pingprom
ExecStartPre=-/usr/bin/docker pull prom/blackbox-exporter:master
ExecStart=/usr/bin/docker run -p 9115:9115 --rm --name blackboxprober \
		--network=pingprom \
		--privileged -v ${PINGPROM}/blackbox.yml:/config/blackbox.yml \
		 prom/blackbox-exporter:master --config.file=/config/blackbox.yml

[Install]
WantedBy=multi-user.target
