[Unit]
Description=Grafana
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker pull grafana/grafana
ExecStart=/usr/bin/docker run --rm -v /var/lib/grafana:/var/lib/grafana --name grafana -e "GF_SERVER_ROOT_URL=https://grafana.dabase.com" -e "GF_SECURITY_ADMIN_PASSWORD=SECRET" grafana/grafana

[Install]
WantedBy=multi-user.target
