[Unit]
Description=Node exporter
Requires=docker.service
After=docker.service prometheus.service

[Service]
Environment="NAME=node-exporter"
Environment="IMG=prom/node-exporter:latest"

ExecStartPre=-/usr/bin/docker pull $IMG
ExecStartPre=-/usr/bin/docker rm -f $NAME

ExecStart=/usr/bin/docker run --rm --name ${NAME} -p 9100:9100 --net="host" ${IMG}

[Install]
WantedBy=multi-user.target
