[Unit]
Description=Prometheus
Requires=docker.service
After=docker.service

[Service]
Environment="NAME=prom"
Environment="IMG=prom/prometheus:latest"

ExecStartPre=-/usr/bin/docker pull $IMG
ExecStartPre=-/usr/bin/docker rm -f $NAME
ExecStart=/usr/bin/docker run --rm -p 127.0.0.1:9090:9090 --link blackboxprober --name ${NAME} -v /home/core/pingprom/prometheus:/etc/prometheus/ ${IMG} -config.file=/etc/prometheus/prometheus.yml -web.console.libraries=/etc/prometheus/console_libraries -web.console.templates=/etc/prometheus/consoles

[Install]
WantedBy=multi-user.target
