[Unit]
Description=Prometheus
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/default/pingprom
ExecStartPre=-/usr/bin/docker pull prom/prometheus
ExecStartPre=-/usr/bin/docker rm prom
ExecStart=/usr/bin/docker run --rm -p 9090:9090 -v ${PINGPROM}/data:/prometheus/data -v ${PINGPROM}/prometheus:/pingprom/ \
 --network=pingprom \
 --name prom \
 prom/prometheus --config.file=/pingprom/prometheus.yml \
 --web.console.templates=/usr/share/prometheus/consoles --web.console.libraries=/etc/prometheus/console_libraries \
 --web.external-url=https://prom.example.com/
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
