[Unit]
Description=Prometheus
Requires=docker.service
Wants=blackbox-exporter.service
After=docker.service

[Service]
Environment="NAME=prom"
Environment="IMG=prom/prometheus:master"

ExecStartPre=-/usr/bin/docker pull $IMG
ExecStartPre=-/usr/bin/docker rm -f $NAME
ExecStart=/usr/bin/docker run --rm -p 9090:9090 -v /home/%i/data:/prometheus/data --link alertmanager --link blackboxprober --name ${NAME} -v /home/%i/pingprom/prometheus:/etc/prometheus/ ${IMG} -config.file=/etc/prometheus/prometheus.yml -web.console.libraries=/etc/prometheus/console_libraries -web.console.templates=/etc/prometheus/consoles -alertmanager.url=http://alertmanager:9093

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
